.Aurum {
  text-align: center;
}

.App-logo {
  height: 15vmin;
}

.Aurum-header {
  background-color: #fff;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  @media screen and (max-width:768px) {
    min-height: 10vh;
  }
}

.App-link {
  color: #09d3ac;
}

.Aurum-body {
  background-color: red;
  height: 85vh;
}
