@import url('https://fonts.google.com/specimen/Open+Sans');

.App-logo {
  height: 15vmin;
}

.Aurum-header {
  background-color: #fff;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  @media screen and (max-width:768px) {
    min-height: 10vh;
  }
}

.App-link {
  color: #09d3ac;
}

.Aurum-body {
  background-color: #AEAEB7;
  height: 120vh;
  @media screen and (max-width:768px) {
    height: 240vh;
  }
}

.Image-section {
  margin-left: 12rem;
  padding-top: 3rem;
  @media screen and (max-width:768px) {
    margin-left: 8rem;
  }
}

.Image-section-info {
  margin-left: 12rem;
  padding-top: 10rem;
  @media screen and (max-width:768px) {
    margin-left: 8rem;
  }
}
